* {
    margin: 0,2%;
    padding: 0;
  }

:root {
  --verde-fundo: ;
  --fonte-principal: "Lustria";
  --verde-principal: ;
  --azul-principal: ;
  --verde-secundario: ;
  --link: #0a4804;
}

body{
  font-family: Calibri;
  font-size: 18px;
  line-height: 1.5;
}

/*Cabeçalho / Header */
.cabecalho{

}


/*seções comuns ou seção 1*/
.secao{
  margin-left: 50px;
  padding: 20px;
  background-color: greenyellow;
}


/*rodapé*/
.rodape{

}